.all-reports-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; /* Prevent horizontal scrolling on the main layout */
}

.content-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden; /* Prevent overflow in the content wrapper */
}

.navbar {
  width: 250px;
}

.reports-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: hidden; /* Enable vertical scrolling */
}

.pagination-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.reports-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
/* Mobile-specific adjustments */
@media (max-width: 768px) {
  .google-maps-layout {
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }

  .navbar {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1200;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .map-container {
    margin-top: 0; /* Navbar height adjustment */
  }

  .hamburger-menu {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1300;
    display: block;
  }

  .navbar.open {
    transform: translateX(0);
    animation: slideIn 0.3s ease-out;
  }

  @keyframes slideIn {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
}