/* ForgotPasswordPage.css */

.forgot-password-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 24px;
  max-width: 400px;
  margin: auto;
}

.forgot-password-logo {
  margin-bottom: 8px;
  width: 100px;
}

.citywatch-title {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.forgot-password-title {
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
  margin-top: 8px;
}

.subtitle {
  font-size: 1rem;
  text-align: center;
  color: #6b7280;
}

.input-container {
  width: 100%;
  margin-top: 16px;
}

.text-field-label {
  font-weight: 500;
  margin-bottom: 4px;
  text-align: left;
  color: #6b7280;
}

.text-field-container {
  margin-bottom: 16px; /* Adds spacing between each text box */
}

.signup-button {
  background-color: #6941c6;
  color: #fff;
  border-radius: 8px;
  margin-top: 16px;
}

.signin-link {
  text-align: center;
  margin-top: 16px;
  color: #6b7280;
}

.signin-link a {
  color: #6941c6;
  text-decoration: none;
  font-weight: bold;
}
