/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  overflow: hidden; /* Remove scrollbars */
}

/* Google Maps Layout */
.google-maps-layout {
  display: flex;
  height: 100vh;
  width: 100vw; /* Full-screen width */
}

/* Content Wrapper */
.content-wrapper {
  display: flex;
  flex-grow: 1;
  height: 100%;
  width: 100%; /* Full width */
}

/* Navbar */
.navbar {
  flex: 0 0 250px; /* Fixed width for the navbar */
  height: 100%; /* Full height */
}

/* Map Container */
.map-container {
  flex-grow: 1; /* Occupy remaining space */
  height: 100%;
  width: 100%;
}

/* Map Button Container */
.map-button-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.pin-location-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.pin-location-button:hover {
  transform: scale(1.1);
}

.pin-location-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 2.5rem;
  margin-right: 0;
}


/* Mobile-specific adjustments */
@media (max-width: 768px) {
  .google-maps-layout {
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }

  .navbar {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1200;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .map-container {
    margin-top: 0; /* Navbar height adjustment */
  }

  .hamburger-menu {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1300;
    display: block;
  }

  .navbar.open {
    transform: translateX(0);
    animation: slideIn 0.3s ease-out;
  }

  @keyframes slideIn {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
}

.cluster {
  animation: pulse 2s infinite;
}

.cluster-active {
  animation: bounce 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
